{% load poll_extras %} {% load static %}
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">
    <li class="active">
      {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">
          <i class="now-ui-icons design_app"></i>
          <p>Dashboard</p>
        </a>
        {% if request.user|has_group:'System Admin' %}
          <a href="/admin" style="margin-top: 10px;">
            <i class="fa fa-cogs"></i>
            <p>Admin Dashboard</p>
          </a>
        {% endif %}
        {% if request.user|has_group:'STS Manager' %}
          <a href="{% url 'waste_transfer_start' %}" style="margin-top: 10px;">
            <i class="fa fa-truck"></i>
            <p>Transfer Waste</p>
          </a>
        {% endif %}

        <a href="{% url 'update_profile' %}" style="margin-top: 10px;">
          <i class="fas fa-user-edit"></i>
          <p>Update Profile</p>
        </a>

        <a href="{% url 'change_user_password' %}" style="margin-top: 10px;">
          <i class="now-ui-icons ui-1_lock-circle-open"></i>
          <p>Change Password</p>
        </a>

        <a href="{% url 'logout' %}" style="margin-top: 10px;">
          <i class="now-ui-icons media-1_button-power"></i>
          <p>Logout</p>
        </a>
      {% else %}
        <a href="{% url 'login' %}" style="margin-top: 10px;">
          <i class="now-ui-icons users_single-02"></i>
          <p>Login</p>
        </a>
      {% endif %}
    </li>
  </ul>
</div>
