{% extends 'base.html' %} {% block content %}
<div class="panel-header panel-header-lg">
  <canvas id="bigDashboardChart"></canvas>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Potholes Reports</h5>
          <h4 class="card-title">Potholes</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="lineChartExample"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Garbage Reports</h5>
          <h4 class="card-title">Garbage</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">stray cattle Reports</h5>
          <h4 class="card-title">stray cattle</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="barChartSimpleGradientsNumbers"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="map" class="map"></div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Garbage</h5>
          <h4 class="card-title">Garbage Reports</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Image</th>
                <th>Location</th>
                <th>Date & Time</th>
                <th>Status</th>
                <th class="text-right"></th>
              </thead>
              <tbody>
                {% for gar in garbage %}
                <tr>
                  <td>
                    <a href="{{ gar.image_url }}">{{ gar.image_url }}</a>
                  </td>
                  <td>{{ gar.location }}</td>
                  <td>{{ gar.datetime }}</td>
                  <td>
                    {% if gar.status %}
                    <span class="badge badge-success">Completed</span>
                    {% else %}
                    <span class="badge badge-warning">Pending</span>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    <form action="status1" method="POST">
                      {% csrf_token %}
                      <input
                        name="submit1"
                        value="{{ gar.image_url }}"
                        type="text"
                        hidden
                      />
                      <button type="submit" class="btn btn-success">
                        Complete
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Potholes</h5>
          <h4 class="card-title">Potholes Reports</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Image</th>
                <th>Location</th>
                <th>Date & Time</th>
                <th>Status</th>
                <th class="text-right"></th>
              </thead>
              <tbody>
                {% for pot in potholes %}
                <tr>
                  <td>
                    <a class="imglink" href="{{ pot.image_url }}"
                      >{{ pot.image_url }}</a
                    >
                  </td>
                  <td>{{ pot.location }}</td>
                  <td>{{ pot.datetime }}</td>
                  <td>
                    {% if pot.status %}
                    <span class="badge badge-success">Completed</span>
                    {% else %}
                    <span class="badge badge-warning">Pending</span>
                    {% endif %}
                  </td>
                  <td>
                    <form action="status2" method="POST">
                      {% csrf_token %}
                      <input
                        name="submit2"
                        value="{{ pot.image_url }}"
                        type="text"
                        hidden
                      />
                      <button type="submit" class="btn btn-success">
                        Complete
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">stray cattle</h5>
          <h4 class="card-title">stray cattle Reports</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Image</th>
                <th>Location</th>
                <th>Date & Time</th>
                <th>Status</th>
                <th class="text-right"></th>
              </thead>
              <tbody>
                {% for cat in cattles %}
                <tr>
                  <td>
                    <a class="imglink" href="{{ cat.image_url }}"
                      >{{ cat.image_url }}</a
                    >
                  </td>
                  <td>{{ cat.location }}</td>
                  <td>{{ cat.datetime }}</td>
                  <td>
                    {% if cat.status %}
                    <span class="badge badge-success">Completed</span>
                    {% else %}
                    <span class="badge badge-warning">Pending</span>
                    {% endif %}
                  </td>
                  <td>
                    <form action="status3" method="POST">
                      {% csrf_token %}
                      <input
                        name="submit3"
                        value="{{ cat.image_url }}"
                        type="text"
                        hidden
                      />
                      <button type="submit" class="btn btn-success">
                        Complete
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
