{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
  <div class="content" style=" text-align: center; margin: 0 auto;">
    <h2>Create Fleet (step - 2)</h2>
    <h4>Recommended car with count</h4>
    {{ recommend_selected_car }}
    <br />
    <h4>Select vehicles</h4>
    {% comment %} <label for="vehicles">Select vehicles:</label><br /> {% endcomment %}
    <form method="post">
      {% csrf_token %}
      {% for vehicle in vehicles %}
        <label for="vehicle_{{ vehicle.id }}">{{ vehicle }}</label>
        <input type="checkbox" id="vehicle_{{ vehicle.id }}" name="vehicles" value="{{ vehicle.id }}" />

        <label for="vehicle_count_{{ vehicle.id }}">Count</label>
        <input type="number" id="vehicle_count_{{ vehicle.id }}" name="vehicle_count_{{ vehicle.id }}" />

        {% if vehicle.vehicle_number in recommend_selected_car.keys %}
          <p>Recommended</p>
        {% endif %}
        <br />
      {% endfor %}
      <br /><br />
      <input type="submit" value="Finish" />
    </form>
  </div>
{% endblock %}

{% block js %}

{% endblock %}
