{% extends 'base.html' %}
{% block content %}
  <div class="content" style=" text-align: center; margin: 0 auto;">
    <h2>On Going Transfer</h2>
    <table border="2">
      <tr>
        <th>ID</th>
        <th>STS</th>
        <th>Landfill</th>
        <th>Vehicle</th>
        <th>Volume</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      {% for transfer in waste_transfers %}
        <tr>
          <td>{{ transfer.id }}</td>
          <td>{{ transfer.sts }}</td>
          <td>{{ transfer.landfill }}</td>
          <td>{{ transfer.vehicle }}</td>
          <td>{{ transfer.volume }}</td>
          <td>{{ transfer.status }}</td>
          <td>
            {% comment %} {% if transfer.status == 'Pending' %}
              <a href="">Approve</a>
            {% endif %} {% endcomment %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
