{% extends 'base.html' %}
{% block content %}
  <div class="content" style=" text-align: center; margin: 0 auto;">
    <h1>{{ sts }}</h1>
    <h2>On Going Transfer</h2>
    <table border="2">
      <tr>
        <th>ID</th>
        <th>Landfill</th>
        <th>Vehicle</th>
        <th>Volume</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      {% for transfer in waste_transfers %}
        <tr>
          <td>{{ transfer.id }}</td>
          <td>{{ transfer.landfill }}</td>
          <td>{{ transfer.vehicle }}</td>
          <td>{{ transfer.volume }}</td>
          <td>{{ transfer.status }}</td>
          <td>
            {% if transfer.status == 'Returning to STS' %}
              <a href="{% url 'waste_transfer_complete' transfer.id %}">Vehicle Returned</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
