<!DOCTYPE html>
{% load poll_extras %} {% load static %}
<html lang="en">
  {% include 'base_elements/head_tag.html' %}
  <body class="">
    <div class="wrapper">
      <div class="sidebar" data-color="blue">
        <!--             
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                 -->
        <div class="logo">
          <a href="{% url 'dashboard' %}" class="simple-text logo-normal" style="text-align: center;"><img src="{% static 'logo.png' %}" alt="Logo" class="logo-img" style="width: 100px; height: auto;" /></a>
          {% if user.is_authenticated %}
          <a href="" class="simple-text logo-normal" style="text-align: center;">
            {{ user.username }}
          </a>
          {% endif %}
        </div>
        {% include 'base_elements/navbar.html' %}
      </div>
      <div class="main-panel" id="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
          </div>
        </nav>

        
        {% if messages %}
        <div class="" role="alert">
        <ul class="messages list-group list-group-flush bg-dark">
            {% for message in messages %}
                <li{% if message.tags %} class="list-group-item {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      </div>
      {% endif %}
        
        {% block content %}

        {% endblock %}

        {% include 'base_elements/footer.html' %}
      </div>
    </div>
    {% include 'base_elements/core_js.html' %}
    {% block js %}

    {% endblock %}


    <style>
      .imglink {
        width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        direction: rtl;
      }
    </style>
  </body>
</html>
