<!DOCTYPE html>
{% load poll_extras %} {% load static %}
<html lang="en">
  {% include 'base_elements/head_tag.html' %}
  <body class="">
    <div class="wrapper">
      <div class="sidebar" data-color="blue">
        <!--             
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                 -->
        <div class="logo">
          <a href="{% url 'dashboard' %}" class="simple-text logo-normal" style="text-align: center;"><img src="{% static 'logo.png' %}" alt="Logo" class="logo-img" style="width: 100px; height: auto;" /></a>
          {% if user.is_authenticated %}
          <a href="" class="simple-text logo-normal" style="text-align: center;">
            {{ user.username }}
          </a>
          {% endif %}
        </div>
        {% include 'base_elements/navbar.html' %}
      </div>
      <div class="main-panel" id="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
          </div>
        </nav>

        
        {% if messages %}
        <div class="" role="alert">
        <ul class="messages list-group list-group-flush bg-dark">
            {% for message in messages %}
                <li{% if message.tags %} class="list-group-item {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      </div>
      {% endif %}
        
        {% block content %}

        {% endblock %}

        {% include 'base_elements/footer.html' %}
      </div>
    </div>
    <!-- Core JS Files -->
    <script src="{% static 'assets\js\core\jquery.min.js' %}"></script>
    <script src="{% static 'assets\js\core\popper.min.js' %}"></script>
    <script src="{% static 'assets\js\core\bootstrap.min.js' %}"></script>
    <script src="{% static 'assets\js\plugins\perfect-scrollbar.jquery.min.js' %}"></script>
    <!-- Google Maps Plugin -->
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.43.3/maps/maps-web.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/js/mobile-or-tablet.js' %}""></script>
    <script>
      // Define your product name and version.
      tt.setProductInfo("<your-product-name>", "<your-product-version>");

      var map = tt.map({
        key: "Tx7N5AsswTls8qzJsMiHEzDGNXla4yEv",
        container: "map",
        style: "tomtom://vector/1/basic-main",

        center: [90.433900, 23.828800],
        zoom: 8
      });
      map.addControl(new tt.FullscreenControl());
      map.addControl(new tt.NavigationControl());
      map.scrollZoom.disable()

      function createMarker(icon, position, color, popupText) {
        var markerElement = document.createElement('div');
        markerElement.className = 'marker';

        var markerContentElement = document.createElement('div');
        markerContentElement.className = 'marker-content';
        markerContentElement.style.backgroundColor = color;
        markerElement.appendChild(markerContentElement);

        var iconElement = document.createElement('div');
        iconElement.className = 'marker-icon';
        iconElement.style.backgroundImage =
          'url(https://api.tomtom.com/maps-sdk-for-web/5.x/assets/images/' + icon + ')';
        markerContentElement.appendChild(iconElement);

        var popup = new tt.Popup({
          offset: 30
        }).setText(popupText);
        // add marker to map
        new tt.Marker({
            element: markerElement,
            anchor: 'bottom'
          })
          .setLngLat(position)
          .setPopup(popup)
          .addTo(map);
      }
      {% for sts in sts_list %}
      createMarker('accident.colors-white.jpg', [{{ sts.longitude }},{{ sts.latitude }} ], '#c31a26', '{{ gar.location }}');
      {% endfor %}
    </script>
    <!-- Chart JS -->
    <script src="{% static 'assets\js\plugins\chartjs.min.js' %}"></script>
    <!-- Notifications Plugin -->
    <script src="{% static 'assets\js\plugins\bootstrap-notify.js' %}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'assets\js\now-ui-dashboard.min.js' %}" type="text/javascript"></script>
    <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'assets\demo\demo.js' %}"></script>
    <script>
      $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
      });
    </script>
    <style>
      .imglink {
        width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        direction: rtl;
      }
    </style>
  </body>
</html>
